{{#basic-card title=model.displayName}}

  {{#block-slot 'action-buttons'}}
  <button class="btn btn-danger" {{action (mut confirmRemoveModal) true}}>
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <span class="text">Remove</span>
  </button>
  {{/block-slot}}

  {{#block-slot 'body'}}
  <div class="container-fluid xs-container">
    <div class="row">

      <section class="col-xs-12 col-sm-4 col-md-3 pull-right">
        {{profile-picture model=model}}
      </section>

      <section class="col-xs-12 col-sm-8 col-md-9">

        {{contact-editor 
            model=model 
            allowEdit=true
            isEditMode=isEditMode
        }}
    
      </section>

    </div>
  </div>
  {{/block-slot}}

{{/basic-card}}

{{!-- modal to handle removal confirmation --}}
{{#bs-modal-simple
  open=confirmRemoveModal
  title="Remove Contact?"
  closeTitle="No"
  submitTitle="Yes"
  closeButton=false
  keyboard=false
  backdropClose=false
  onSubmit=(action deleteContact model)
  onHidden=(action (mut confirmRemoveModal) false)
}}
  <p>
    <big>
      Are you sure you want to delete this contact?
    </big>
  </p>
{{/bs-modal-simple}}

{{!-- modal to handle transition confirmation --}}
{{#bs-modal-simple
  open=transitionModal
  title="Discard Changes?"
  closeTitle="No"
  submitTitle="Yes"
  closeButton=false
  keyboard=false
  backdropClose=false
  onSubmit=(action continueTransition)
  onHidden=(action (mut transitionModal) false)
}}
  <p>
    <big>
      You have unsaved changes. Do you want to discard them?
    </big>
  </p>
{{/bs-modal-simple}}

