{{!-- Obviously need to expand this template with much better error handling --}}
{{#basic-card title="Something Went Wrong :("}}

  {{#block-slot 'body'}}
  <p>
    It appears that the content you're looking for either doesn't exist, or we ran into an error trying to find it.
  </p>
  {{/block-slot}}

{{/basic-card}}
