<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header pull-left">
      {{#link-to "contacts" class="navbar-brand"}}Contact List{{/link-to}}
    </div>

    <div class="navbar-header pull-right add-margins">
        {{#link-to "contacts.new" class="btn btn-primary navbar-btn" tagName="button"}}
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Contact
        {{/link-to}}
    </div>
  </div>

</nav>

<div class="container-fluid">
  <div class="row">
    {{outlet}}
  </div>
</div>
