body {
 padding-top: 50px;
 background: #f2f2f2;
}

.container-fluid > .navbar-header.pull-right.add-margins {
  margin-left: 0;
  margin-right: 0;
}

.sidebar {
  padding: 20px 0;
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  box-shadow: 1px 0px 1px #ddd;
}

.nav-sidebar > li > a.active {
  color: #fff;
  background: #428bca;
}

.basic-card {
  background: #fff;
  margin: 15px;
  padding: 15px;
  box-shadow: 1px 1px 1px #ddd;
}

.basic-card .page-header {
  margin: 20px 0;
}

.thumbnail > img {
  width: 100%;
  height: auto;
}

.file-picker.single.over .jumbotron {
  background: #dff0d8;
}

.picture-crop-preview {
  height: 400px;
  display: none;
}

.picture-crop-preview.croppie-container {
  display: block;
}

@media only screen and (max-width: 767px) {

  .sidebar {
    background: #f2f2f2;
  }

  .sidebar > ul.nav {
    background: #fff;
  }

  .sidebar > ul.nav > li {
    border-bottom: 1px solid #ddd;
  }

  .sidebar > ul.nav > li > a {
    padding: 15px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.2em;
  }

  .container-fluid.xs-container {
    padding-left: 0;
    padding-right: 0;
  }

  .basic-card {
    margin: 0;
  }

  .basic-card .page-header {
    margin-top: 0;
  }

  .basic-card .page-header h2 {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
  }

  .basic-card .page-header .btn > .text {
    display: none;
  }
}
